.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82ccc83b;
  padding: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #7ab1ae3b;
  padding: 20px;
  width: 100%;
}
